################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/WinFormsApp4(ziya novoe 1 zadanie)/WinFormsApp4(ziya novoe 1 zadanie)/obj
/WinFormsApp4 (ziya)/WinFormsApp4 (ziya)/obj
/WinFormsApp4(svetofor ziya)/WinFormsApp4(svetofor ziya)/obj
