################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/WinFormsApp4(ziya novoe 1 zadanie)/WinFormsApp4(ziya novoe 1 zadanie)/obj
